.git
.github
node_modules
vendor
public/build
public/storage
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
.env
.env.*
!.env.example
tests
*.md
cookies.txt
acookies.txt

rexec.py
remote_cmd.sh
*_payload.json
